.controls {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover-color);
}
