.navBar {
  background-color: var(--module-background-color);
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  justify-self: flex-end;
  list-style-type: none;
  margin-right: 30px;
  border-radius: 5px;
  padding: 10px 0;

  @media (max-width: 768px) {
    justify-self: center;
  }
}

.navBar a {
  display: block;
  padding: 5px 40px;
  width: 100%;
  text-decoration: none;
  border-radius: 3px;
  font-size: 20px;
  white-space: nowrap;
}

.navBar a:hover {
  color: var(--main-text-color);
  opacity: 70%;
}

a.active {
  color: var(--main-text-color);
  text-decoration: underline;
}
